.rbit-custom-options .rbit-group-description {

}
.rbit-custom-options .rbit-group-description input {
    float: none !important;
}


.rbit-custom-options .rbit-one-group-block {
    background-color: #eeeeee;
    border-radius: 6px;
}

.rbit-custom-options .rbit-conf-content {
    margin: 5px;
    padding: 5px;
    border: 1px #d7d7d7 solid;
    border-radius: 6px;
}


.rbit-custom-options .select2-container {
    min-width: 200px;
}

.rbit-one-option-block-content .rbit-item-image {
    max-width: 60px;
    max-height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: top !important;
}

.rbit-item-error {
    color: #880000;
}

.rbit-one-option-block-header {
    position: relative;
}

.rbit-one-group-block-header {
    position: relative;
}
.rbit-remove-block {
    position: absolute;
    top: 5px;
    right: 5px;
}

.rbit-all-groups-block-content .rbit-one-group-block:first-child button.rbit_group_up,
.rbit-all-groups-block-content .rbit-one-group-block:last-child button.rbit_group_down {
    display: none;
}

.rbit_group_down, .rbit_group_up {
    min-height: 20px !important;
    max-height: 25px !important;
    line-height: 1 !important;
}
